
#enter-uav-ucuslar {
  background-color: antiquewhite;
  margin-top: 90px;

  width: 400px;
  height: 780px;

  padding: 10px;
  padding-top: 50px;
  padding-bottom: 0px;

  gap: 15px;

  display: flex;
  flex-direction: column;

  border-radius: 30px;
}

.container {
  margin-top: 100px;
  margin-bottom: 80px;
}

 
#addData {
  margin-bottom: 0%;
  width: 105px;
}
