#enter-uav-ucaklar {
  padding: 50px;
  padding-left: 160px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-floating {
  display: flex;
  flex-direction: column;
  gap: 11px;
}