body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}





/* Custom styles */
.custom-tabmenu .p-tabmenu-nav {
  background-color: #f0f0f0;
  border: none;
}

.custom-tabmenu .p-tabmenu-nav-item {
  padding: 0.5rem 1rem;
}

.custom-tabmenu .p-tabmenu-nav-link {
  color: #333;
}

.custom-tabmenu .p-tabmenu-nav-link:hover {
  background-color: #ddd;
  color: #000;
}

.custom-tabmenu .p-tabmenu-nav-link.p-highlight {
  background-color: #007ad9;
  color: #fff;
}




